p{
    background-color: rgba(0, 255, 255, 0.429);
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    width: 30%;
}
.d1{
    display: flex;
    background-color: aquamarine;
}
.p1{
    background-color: rgba(220, 20, 60, 0.364);
}
h1{
    background-color: rgba(0, 0, 255, 0.152);
    width: 30%;
}
.d2{
    height: 30%;
    text-align: center;
    background: linear-gradient(43deg,rgba(242, 242, 5, 1) 0%, rgba(246, 187, 46, 1) 22%, rgba(252, 88, 120, 1) 47%, rgba(255, 38, 157, 1) 100%, rgba(232, 232, 30, 0.84) 72%);
    display: flex;
}
.d3{
    background-image: url(../imagem/linda.jpg);
    height: 40%;
    display: flex;
}
h2{
    width: 20%;
    margin-right: 10%;
    background-color: rgba(220, 20, 60, 0.238);
}